
.tabView {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.tabView[hidden] {
    display: none;
}

.tabView > div {
    margin: 15px 0;
    width: 80%;
    align-self: center;
    /*height: 25px;*/
}

.paperForm {
    /*height: 40vh;*/
}

.topAppBar {
    /*display: flex;*/
}

.appBar-toolBar {
    /*display: flex;*/
    width: fit-content;
    align-self: flex-end;
}

.menuButton {

}